<div class="col-md-6 course-card-col">
	<div class="course-card">
		<div class="course-card-image">
			<img src="{{ item.thumbnail }}" alt="{{ item.post_title }}"/>
		</div>
		<div class="course-card-content">
			<h3 class="course-card-title"><a href="{{item.url}}">{{ item.post_title }}</a></h3>
			<div class="course-card-description">{{ item.post_excerpt|raw }}</div>
			<div class="course-card-link"><a class="btn btn-primary" href="{{item.url}}">{{ global.theme_options.text_translation.default_global_settings_buttons.see_trainings }}</a></div>
		</div>
	</div>
</div>
